---
layout:     default
title:      FPGA_CV
author:     Haibin
tags: 		FPGA CV
subtitle:  	resume for computer architecture
category:  CV
---

<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}');">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading" style="padding: 30px 0">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {{ page.author }} on {{ page.date | date: "%B %-d, %Y" }}</span>	
                </div>
            </div>
        </div>
    </div>
</header>

<div style="text-align:center"><img src= "{{ "/img/CVs/FPGA_CV.jpg" | prepend: site.baseurl }}" style="width: 60%; margin-left: 20%; margin-right: 20%;"></div>